<% if action == :create %>
  <% action_url = bands_url %>
  <% button_text = "Add Band" %>
  <% method = "post" %>
<% else %>
  <% action_url = band_url(band) %>
  <% button_text = "Update Band" %>
  <% method = "patch" %>
<% end %>

<form class="band_form" action="<%= action_url  %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <div class="">
    <label for="name">Name:</label>
    <input id="name" type="text" name="band[name]" value="<%=band.name%>">
  </div>

  <div class="submit_button">
    <%= button_to button_text, action_url, method: "post" %>
  </div>
</form>
